# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
db.sqlite3-journal

# Media & Static
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/
env/

# IDE & OS
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
